{% extends 'touristbase.html' %}
{% block title %}欢迎{% endblock %}
{% block main %}
    <div class="panel panel-default">
      <div class="panel-body">

    <div class="jumbotron" style="padding: 10px">
    <h1>小麦视频</h1>
        <p>通过小麦视频App，可以分享你的生活，同时也可以在这里认识到更多朋友，了解各种奇闻趣事。 小麦视频是一个专注年轻人的短视频社区，用户可以自由上传短视频，形成自己的作品。
        做出你专属的小视频，快速记录生活每一个有趣瞬间，展示你的才艺、创意、兴趣爱好，拍你所爱、秀你所想，成为时尚 icon！</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">去下载</a></p>
    </div>
    <div class="jumbotron" style="padding: 10px">
      <h1>夏天热热不带风</h1>
      <p>来自武汉大学计算机学院2018级  </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
    </div>
      </div>
    </div>
{% endblock %}